<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
            <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
                <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
                <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
                    <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
                    <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
                    <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
                </sectionGroup>
            </sectionGroup>
        </sectionGroup>
    </configSections>
    <appSettings>
        <!-- <<<<< BD >>>>> -->
        <!--
    <add key="OVDES" value="User ID=ov;password=ov9i;Data Source=OVPRO;Persist Security Info=True;Connection Lifetime=10;Enlist=false;Max Pool Size = 10;Min Pool Size=0;Pooling=true;"/>
    -->
        <!--
        <add key="OVDES" value="User ID=ov;password=ov9i;Data Source=OVDES;Persist Security Info=True;Connection Lifetime=10;Enlist=false;Max Pool Size = 10;Min Pool Size=0;Pooling=true;"/>

        <add key="OF0" value="User ID=mel2;password=1mel2pwd;Data Source=PRD;Persist Security Info=True;Connection Lifetime=10;Enlist=false;Max Pool Size = 10;Min Pool Size=0;Pooling=true;"/>
        -->
        
    <add key="OVDES" value="User ID=ov;password=ov9i;Data Source=OVDES;Persist Security Info=True;Connection Lifetime=10;Enlist=false;Max Pool Size = 10;Min Pool Size=0;Pooling=true;"/>
    <add key="OF0" value="User ID=tron2000;password=tron2000prd1;Data Source=PRD1;Persist Security Info=True;Connection Lifetime=10;Enlist=false;Max Pool Size = 10;Min Pool Size=0;Pooling=true;"/>
        



        <!-- <<<<< SERVIDORES >>>>>  -->
        <add key="Server" value="https://mel.mapfre.cl"/>


        <!--<add key="Server" value="http://SCL002001-013:8082"/>-->
        <add key="ServidorCorreo" value="ENVIO-SMTP"/>
        <add key="CorreoSoporte_To" value="francisco.mouat@mapfre.cl"/>
        <add key="CorreoSoporte_From" value="ov@mapfre.cl"/>
        <!-- <<<<< APP >>>>> -->
        <add key="AntiguedadVeh" value="20"/>
        <add key="AntiguedadAutoAntiguoMax" value="2004"/>
        <add key="AntiguedadAutoAntiguoMin" value="1997"/>
        <add key="TextoValorReferencial" value="* Valores referenciales expresados en U.F., con IVA incluído y el Recargo aplicado y ajustados a las primas mínimas Compañia. Valor de Cuota PAT en caso de seleccionar día de pago 25."/>
        <add key="MaxModalidadesSelect" value="12"/>
        <add key="EdadMinima" value="18"/>
        <add key="EdadMaxima" value="99"/>
        <add key="MontoRC" value="1000"/>
        <add key="MaxPorcRecargo" value="150"/>
        <add key="DiaPagoCot" value="25"/>
        <!-- 0 DIAS RETROACTIVOS DE VIGENCIA DE POLIZA PARA VEHICULOS SIN FACTURA-->
        <add key="DiaVigenciaSinFactura" value="0"/>
        <!-- 2 DIAS RETROACTIVOS DE VIGENCIA DE POLIZA PARA VEHICULOS CON FACTURA-->
        <add key="DiaVigenciaConFactura" value="2"/>
        <!-- 3 DIAS DESDE DE LA EMISION DE LA FACTURA-->
        <add key="DiaVigenciaFactura" value="3"/>
        <add key="DiaVigencia" value="3"/>
        <add key="CuotaMinima" value="0"/>
        <add key="ASUNTO_CORREO" value="Simulación de Seguro MAPFRE para Vehículos Particulares"/>
        <add key="MensajeSinPlanes" value="No es posible tarificar para los datos ingresados. Por favor contactese con su ejecutivo."/>
        <add key="MensajeSuspension" value="Estimado Cliente: En estos momentos no es posible tarificar. Agradecemos su comprension."/>
        <add key="Producto" value="VEHLIVIANOS"/>
        <add key="MarcasExclusividadGarage" value="330-23-35-580-303"/>
        <!-- <<<<< FIRMA PDF >>>>> -->
        <add key="McaFirmaPDF" value="N"/>
        <add key="pathIn" value="D:\INETPUB\PDF\"/>
        <add key="pathOut" value="D:\INETPUB\PDF\"/>
        <add key="servicio" value="1"/>
        <add key="comentario" value="MapfreSeguro-Chile"/>
        <add key="ubicacion" value="Stgo - Isidora Goyenechea 3520"/>
        <add key="SOAPWS.Service" value="http://scl002001-036:8081/SOAPWS/Service.asmx"/>
        <add key="RAMO" value="801"/>
        <add key="8000" value="0"/>
        <add key="8003" value="3"/>
        <add key="8005" value="5"/>
        <add key="8010" value="10"/>
        <add key="8900" value="60"/>
        <add key="8100" value="0"/>
        <add key="8103" value="3"/>
        <add key="8105" value="5"/>
        <add key="8110" value="10"/>
        <add key="8910" value="0"/>
        <add key="8120" value="0"/>
        <add key="8123" value="3"/>
        <add key="8125" value="5"/>
        <add key="8121" value="10"/>
        <add key="8910" value="0"/>
        <add key="WebServiceAach.wsSisgenGenV3" value="https://www.aach.cl/wssisgengenV3/wsSisgenGenV3.asmx"/>
    </appSettings>
    <system.web>
        <pages>
            <controls>
                <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            </controls>
        </pages>
        <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
        <compilation debug="true">
            <assemblies>
                <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
                <add assembly="Oracle.DataAccess, Version=1.102.2.20, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
            </assemblies>
        </compilation>
        <httpHandlers>
            <remove verb="*" path="*.asmx"/>
            <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
        </httpHandlers>
        <httpModules>
            <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        </httpModules>
        <sessionState timeout="20"/>
    </system.web>
</configuration>